* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --main-color: #4d4d4d;
    --bg-color: #ffffff;
}

body.dark {
    --bg-color: #1a1a1a;
    --main-color: #a4a2a4;
}

body {
    background: var(--bg-color);
    color: var(--main-color);
    transition: background 0.3s, color 0.3s;
}

html,
body {
    position: relative;
}

.swiper {
    width: 100%;
    height: 350px;
    padding-top: 80px;
    padding-bottom: 30px;
}

.swiper-slide {
    /* background: var(--card-bg); */
    background-position: center;
    background-size: cover;
    width: 250px !important;
    height: 320px !important;
    margin: 0 20px;
}

.swiper-slide img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    margin: 0 20px;
    display: block;
    border-radius: 16px;
}

.section {
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.navbar .logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar .logo p {
    font-size: 30px;
    color: var(--main-color);
    font-weight: 700;
}

.navbar .logo hr {
    width: 30px;
    height: 2px;
   background-color: var(--main-color);
    border: none;
}

.navbar .menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar .menu li a {
    color: var(--main-color);
    font-size: 20px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header h1 {
    width: 480px;
    text-align: center;
    font-size: 50px;
    margin: 100px 0;
    color: var(--main-color);
}

#themeToggle {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}